table#plc tr {
  border-bottom: 1px solid #ccc;
}

table#plc tr.ok {
  background-color: #e5ffe2;
}

table#plc tr.warning {
  background-color: #fffce5;
}

table#plc tr.info {
  background-color: #bdf;
}

table#plc tr.error {
  background-color: #ffe6e6;
}
